body {
    background-color: #AACCE0;
}

.container {
    float: left;
}


/* Give your page a fun background color */

header {
    color: #132A37;
    background-color: grey;
}

footer {
    color: #584416;
    background-color: grey;
}


/* Make the header and footer a different color from the background */

h1 {
    font-size: 5em;
    text-align: center;
}


/* Align the h1 containing your name in the center of the header*/

p {
    color: #8E0808;
    font-style: italic;
}


/* Make your p tag a different color and italic */

img {
    width: 180px;
    border: 5px;
    border-style: solid;
}


/* Put a border around your image */

ul {
    font-family: cursive;
}


/* Change the font-family of your list */